<!-- Mobile SideNav Icon DropDown -->
<ul class="sidenav" id="mobile-nav">
    <li>
        <a href="/home">Home</a>
    </li>
    <li>
        <a href="/patients">Patient List</a>
    </li>
    <li>
        <a href="/hospitals">Hospital List</a>
    </li>
    <li>
        <a href="/AddHospital">Add Hospital</a>
    </li>
    <li>
        <a href="/Register">Register</a>
    </li>
    <li>
        <a href="/changePassword">Change Password</a>
    </li>
    <li>
        <a href="/Logout">Login</a>
    </li>
</ul>