tbody {
    display: block;
    height:30em;
    overflow: auto;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  thead {
    width: calc(100% - 1em)
  }

  table {
    width: 100%;
  }