<!-- Template Page for Adding Tests -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <title>Blood Test Diary</title>
</head>

<body>
    <div th:replace="component/navbar.html"></div>

    <div th:replace="component/mnav.html"></div>

<!-- AddTest Form -->
    <section class="section section-login grey lighten-3 center">
        <div class="row">
            <div class="col s10 push-s1">
                <div class="row">
                    <div class="col s12 s7">
                        <div class="card">
                            <div class="card-image">
                                <img th:src="@{/images/pen.jpg}" />
                                <span class="card-title">Fill In Test Info</span>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <form th:action="@{/addTest}" th:object="${test}" method="POST" class="col s12">
                                        <div class="row">
                                            <div class="input-field col s6" th:object="${patient}">
                                                <input id="patientId" type="text" th:field="*{id}" placeholder="patient Id"
                                                    readonly>
                                                <label for="patientid">Patient_id</label>
                                            </div>
                                        </div>
                                        <div class="row" th:object="${patient}">
                                            <div class="col s6">
                                                <input id="date" th:field="*{DOB}" type="datetime-local" class="validate">
                                                <label for="date">Date</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s6">
                                                <select th:field="*{completed}" class="browser-default">
                                                    <option value="1">Compeleted</option>
                                                    <option value="0">Not Completed</option>
                                                </select>
                                            </div>
                                            <div class="col s6">
                                                <select th:field="*{notified}" class="browser-default">
                                                    <option value="1">Notified</option>
                                                    <option value="0">Not Notified</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s6">
                                                <input id="location" th:field="*{location}" type="text" class="validate">
                                                <label for="location">Test_Location</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <select th:field="*{idlabel}" class="browser-default">
                                                    <option value="badge green">Monitor</option>
                                                    <option value="badge red">Critical</option>
                                                    <option value="badge orange">Urgent</option>
                                                    <option value="badge white">OPA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="Comments" type="text" th:field="*{commet}" placeholder="comment"
                                                    class="validate">
                                                <label for="Comments">Comments</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" style="font-weight: bold; font-size:15px" class="btn-medium waves-light btn blue lighten-2 waves-effect">Submit </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="https://www.kch.nhs.uk/contact">Missing info?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div th:replace="component/footer.html"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script th:src="@{/js/nav.js}"> </script>
    <script>
        const sideNav = document.querySelector('.sidenav');
        M.Sidenav.init(sideNav, {});
    </script>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>

</body>

</html>